@charset "UTF-8";

@font-face {
    font-family: Mochary;
    src: url(../fonts/Mochary_PERSONAL_USE_ONLY.ttf);
}

@font-face {
    font-family: Young;
    src: url(../fonts/Young\ Heart.ttf);
}

:root {
    --cor1:#B8453E;
    --cor2:#232526;
    --cor3:#A69D8D;
    --cor4:#F2AF88;
    --cor5:#F22222;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body{
    position: relative;
    z-index: -3;
}
header {
    height: 70px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;   
}

#header {
    display: flex;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#logo {
    min-width: 300px;
    color: white;
    font-size: 30px;
    text-transform: uppercase; 
    display: flex; 
    align-items: center; 
}

#logo img {
    width: 60px;
}

#logo p {
    margin-left: 10px;
    min-width: 235px;
}

#botao-menu {
    display: none;
}

label[for='botao-menu'] {
    color: white;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    height: 70px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}

a:hover {
    background-color: var(--cor1);
}

figure {
    margin: auto;
    width: 100%;
    height: 400px;
    background-image: url("../imagens/pexels-stefan-lorentz-668196.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

#backgroundFilter {
    background-color: rgba(0, 0, 0, 0.355);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-figure-small{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
#text-figure-1{
    border-bottom: 2px solid white;
    padding: 0 25px 10px 25px;
    text-align: center;
}
#text-figure-2 {
    color: white;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: bold;
    margin: 10px 0 10px 0;    
    text-align: center;
}
#text-figure-3{
    border-top: 2px solid white;
    padding: 10px 25px 0 25px;    
    text-align: center;
}

main {
    position: relative;
    width: 90%;
    max-width: 1500px;
    height: 500px;
    margin: 0 auto 50px auto;
    border: 1px solid black;
}

main > div {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

footer {
    background-color: var(--cor2);
    height: 350px;
}

@media (max-width: 1090px) {
    nav {
        flex-direction: column;
        position: absolute;
        width: 90%;
        top: 70px;        
        margin-top: -200%;
        transition: all 1s;
        z-index: -1;
    }

    a {
        width: 100%;
        background-color: var(--cor2);
        padding: 0;
    }

    label[for='botao-menu'] {
        display: block;
    }

    #botao-menu:checked ~ nav {
        margin-top: 0;
    }

}